.sidebar a {
    text-decoration: none;
    color: #494949;
}

.sidebar a:hover  {
    color: #000000;
}

.sidebar p {
    font-size: 14px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-logo {
    /* border-bottom: 1px solid #000000; */
}

.sidebar-logo div {
    margin: 1rem;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
}