footer {
    background: #000;
    color: #fff;
}

.footer-container{
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-container{
    
}

.social-container p {
    display: block;
    color: #fff;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.social-links i {
    background: #2E8FFF;
    color: #fff;
    border-radius: 50%;
    padding: 1rem 1.1rem;
    margin: 0.5rem;
}

.social-links i:first-of-type{
    margin-left: 0;
}

.secondary-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secondary-container a{
    text-decoration: none;
    color: #fff;
    align-content: center;
    font-size: 0.7rem;
}

a:hover{
    color: #8f8f8f;
}

@media screen and (max-width: 768px) {
    .social-links i {
        padding: 0.3rem 0.4rem;
        margin: 0.2rem;
    }
}