.header-container{
    background: linear-gradient(245deg, #97c7ff52 5%, #caffe500 30%, #cad0ff52 62%, #bcdbffc2 99%);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 2rem;
    margin: 0 2rem;
}
 
.logo{
    font-weight: 900;
    font-size: 1.5rem;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.links a{
    text-decoration: none;
    color: #000;
    padding: 0 0.5rem;
}

.links button{
    background: #2E8FFF;
    box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
    border: none;
    color: #fff;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    margin-right: 1em;
    font-size: 1rem;
}

.links button:hover{
    cursor: pointer;
    background: #1875e0;
}

a:hover{
    color: #8f8f8f;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .header-container{
        background: linear-gradient(245deg, #97c7ff52 4%, #caffe500 25%, #cad0ff52 62.41%, #bcdbffc2 95%);
    }
    .logo{
        font-size: 1.2rem;
    }
    
    .first-nav-links {
        display: none;
    }

    .nav-login {
        display: none;
    }

    .links button{
        font-size: 0.8rem;
        margin-right: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}