.landing-body {
    max-width: 100vw;
}
.main-container {
    background: linear-gradient(245deg, #97c7ff52 5%, #caffe500 30%, #cad0ff52 62%, #bcdbffc2 99%);
    /* flex-direction: column; */
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    /* min-height: 50vh; */
    margin: 0 2rem;
}
.hero-container h1{
    font-size: 3.8rem;
    font-weight: 700;
    color: #6d6a6a;
    line-height: 1;
}

.hero-container h2{
    color: #8f8f8f;
    padding: 0;
    line-height: 2;
}
.hero-img{
    width: 50vw;
}
.button-container button:hover{
    cursor: pointer;
    background: #1875e0;
}

.button-container{
    display: flex;
    justify-content: flex-start;
    
}

.button-container button{
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
}

.button-container button:hover{
    cursor: pointer;
    background: #1875e0;

}

.button-container .workspace-signup{
    background: #2e8fff;
    box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
    border: none;
    color: #fff;
    margin-right: 1rem;
    font-size: 15px;
}

.button-container .workspace-signup:hover {
    background-color: #1875e0;
    color: #fff;
    transition: all ease 0.4s;

}

.button-container .pricing {
    border: 1px solid #334;
    background: transparent;
    color: #000;
    font-size: 15px;
}

.button-container .pricing:hover {
    cursor: pointer;
    background: #23cc31;
    border: none;
}

.secondary-container{
    margin: 0 2rem;
    min-height: 20vh;
    padding: 4rem 0;
}
.secondary-container h2{
    font-size: 2rem;
    font-weight: 500;
    color: #6d6a6a;
}

.secondary-container div {
    display: flex;
    justify-content: space-between;
    color: #6d6a6a;
    border: 2px solid #6d6a6a;
    border-radius: 10px;
    padding: 1rem 0;
}

.secondary-container div p{
    font-size: 1rem;
    padding: 0.5rem;
}

a:hover{
    color: #8f8f8f;
}

@media only screen and (max-width: 768px) {
    /* .mobile-bg{
        background: rgba(0,0,0, 0.4) url('../assets/powerful.svg') no-repeat fixed center;
        filter: blur(10px);
        width: 100vw;
        height: 100vh;
        z-index: -99;
    } */
    .hero-container{
        width: 80%;
    }
    .hero-container h1{
        font-size: 3.8rem;
    }
    .button-container button{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    .secondary-container h2{
        font-size: 1.5rem;
    }
    .secondary-container div p{
        font-size: 1rem;
    }
    
    .hero-container h3 {
        color: #8f8f8f;
        padding: 1rem 0;
        font-size: 16px;
    }
}

@media only screen and (max-width: 425px) {
    .hero-img{
        display: none;
    }
}