.login {
    text-align: center;
    background: linear-gradient(245deg, #97c7ff52 5%, #caffe500 30%, #cad0ff52 62%, #bcdbffc2 99%);
    color: #676868;
}

.login h2{
    padding-top: 1rem;
    font-size: 2rem;
}

.login-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2rem 0;
}

.login-form {
    /* max-width: 50vw; */
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(64, 123, 255, 0.8);
    padding: 1rem 2rem;
}

.login-form-div h3{
    padding: 1rem 0;
}

.login-form div h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.1rem;
}

.login-form div form div {
    margin-bottom: 1.5rem;
}

.login-form div form {
    width: 100%;
}

.login-form div form input {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 2px solid #000;
    outline: none;
    padding-bottom: 0.5rem;
}

.forgot-pass {
    font-size: 14px;
    text-align: right;
    margin-top: 0.7rem;
}

.login-btn {
    padding: 5px 10px 5px 10px;
    width: 100%;
    background: #000;
    color: #fff;
    border: none;
    padding: 1em 0;
}

@media only screen and (max-width: 768px) {
    .login-bg {
        display: none;
    }
    .login-container {
        padding-top: 1em;
    }
    .login-form div h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .login-form div form input {
        border-bottom: 1px solid #000;
    }
    .login-link{
        font-size: 0.7rem;
    }
    .industry-type{
        border: 1px solid #000;
        border-radius: 5px;
        background: #fff;
        margin: 0.4rem;
        width: 27vw;
        max-height: 15vw;
    }
    .forgot-pass{
        text-align: start;
        font-size: 11px;
    }

    .login-form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-form div h1 {
        text-align: left;
        font-size: 2.5rem;
        margin-bottom: 0.1rem;
    }
        
}