.signup {
    text-align: center;
    background: linear-gradient(245deg, #97c7ff52 5%, #caffe500 30%, #cad0ff52 62%, #bcdbffc2 99%);
    color: #676868;
}
.signup h1{
    padding-top: 2rem;
    font-size: 2rem;
    color: #494949;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(64, 123, 255, 0.8);
    padding: 1rem 2rem;
}

.signup-form-div h3{
    padding: 1rem 0;
}

.signup-form div h1 {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.signup-form div form div {
    margin-bottom: 1.5rem;
}

.signup-form div form {
    width: 100%;
}

.signup-form div form input {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 2px solid #000;
    outline: none;
    padding-bottom: 0.5rem;
}

.industry-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
}

.industry-type{
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff;
    padding: 0.5rem 0;
    margin: 0.4rem;
    width: 10vw;
    max-height: 3vw;
    color: #000;
}
.industry-type:hover{
    cursor: pointer;
    background: gray;
    color: #fff;
}

.forgot-pass {
    font-size: 14px;
    text-align: right;
    margin-top: 0.7rem;
}

.signup-btn {
    padding: 5px 10px 5px 10px;
    width: 100%;
    background: #000;
    color: #fff;
    border: none;
    padding: 1em 0;
}

@media only screen and  (max-width: 768px) {
    .signup-bg {
        display: none;
    }
    .signup-container {
        padding-top: 1em;
    }
    .signup-form div h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .signup-form div form input {
        border-bottom: 1px solid #000;
    }
    .sign-up-link{
        font-size: 0.7rem;
    }
    .industry-container{
        justify-content: space-around;
    }
    .industry-type{
        border: 1px solid #000;
        border-radius: 5px;
        background: #fff;
        margin: 0.4rem;
        width: 27vw;
        max-height: 15vw;
    }
    .forgot-pass{
        text-align: start;
        font-size: 11px;
    }

    .signup-form-div {
        padding: 2rem;
        /* width: 319px; */
    }
}

@media only screen and  (max-width: 280px) {
    .signup-form-div {
        /* padding: 2rem; */
        width: 250px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}